@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --description: 1rem;
    --sub-titles: 1.75rem;
    --title-family: "Young Serif", serif;
    --description-family: "Outfit", sans-serif;

    --title-weight: 400;
    --description-regular: 400;
    --description-semibold: 600;
    --description-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.recipe-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 3rem 8rem;
    background-color: var(--stone-100);
}

.recipe-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 46rem;
    width: 100%;
    padding: 2.5rem;
    gap: 2.125rem;
    border-radius: 1.5rem;
    background-color: var(--white);
}

.recipe-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.recipe-title {
    font-family: var(--title-family);
    font-weight: var(--title-weight);
    color: var(--stone-900);
}

.recipe-description {
    font-family: var(--description-family);
    font-weight: var(--description-regular);
    color: var(--stone-600);
    font-size: var(--description);
}

.preparation-time {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: var(--rose-50);
}

.preparation-time-title {
    font-family: var(--description-family);
    font-weight: var(--description-semibold);
    color: var(--rose-800);
}

.cooking-time-list li::marker {
    color: var(--rose-800);
}

.cooking-time-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
}

.cooking-time {
    font-family: var(--description-family);
}

.emphasis {
    font-weight: var(--description-bold);
}

.cooking-time,
.emphasis {
    color: var(--stone-600);
}

.ingredients, .instructions{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.guide-title{
    font-family: var(--title-family);
    color: var(--brown-800);
    font-weight: var(--title-weight);
}
.ingredients-list, .introduction-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
    font-family: var(--description-family);
    color: var(--stone-600);

}

.ingredients-list li::marker {
    color: var(--brown-800);
}

.separation {
    width: 100%;
    height: 0.0625rem;
    background-color: var(--stone-150);
}
.introduction-list li::marker{
    font-family: var(--description-family);
    color: var(--brown-800);
    font-weight: var(--description-semibold);
}

.guide{
    font-family: var(--description-family);
    color: var(--stone-600);
}