:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --description: 1rem;
    --sub-titles: 1.75rem;
    --title-family: 'YoungSerif', serif;
    --description-family: 'Outfit', sans-serif;

    --title-weight: 400;
    --description-regular: 400;
    --description-semibold: 600;
    --description-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.recipe-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 3rem 8rem;
    background-color: var(--stone-100);
}

.recipe-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    gap: 2.5rem;
    border-radius: 1.5rem;
    background-color: var(--white);
}
.recipe-image{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
}